@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

input:focus,
textarea:focus {
	outline: none;
}

input {
	background: transparent;
	border: none;
	border-bottom: 2px solid #293021;
	width: 400px;
	height: 50px;
	font-size: 15px;
}

input[type="submit"] {
	padding: 10px 30px;
	font-size: 20px;
	margin-top: 30px;
	transition: 0.4s;
	background: #114133;
	color: white;
	border-radius: 40px;
	border: none;
}

input[type="submit"]:hover {
	border-radius: 10px;
	letter-spacing: 1px;
}

.inputs {
	display: grid;
	grid-template-columns: repeat(2, 45%);
	gap: 20px;
	margin: auto;
	justify-content: center;
}

.personal,
.school {
	display: grid;
	gap: 20px;
	justify-content: center;
}

.school input {
	margin: auto;
}

select {
	background-color: aliceblue;
	border: none;
	font-family: "Michroma", sans-serif;
}

select option {
	background: #293021;
	color: white;
}

.main {
	width: 100%;
	min-height: 160vh;
	height: auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 25% 75%;
	text-align: center;
	justify-content: center;
	background: linear-gradient(black, transparent),
		url("https://images.pexels.com/photos/7238759/pexels-photo-7238759.jpeg?auto=compress&cs=tinysrgb&w=1600");
	background-position-y: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.background {
	height: 100%;
	width: 100%;
	/* background: #114133; */
	color: white;
	align-items: center;
	margin: auto;
	filter: blur(6px);
}

.background h1 {
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 70px;
}

.label {
	font-size: 25px;
	text-align: center;
}

select {
	padding: 0 15px;
	font-size: 20px;
	border: none;
	border-bottom: 2px solid #293021;
}

.form {
	width: 90%;
	border-radius: 30px;
	margin: auto;
	padding: 50px 0;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 20px 0px white;
}

h1 {
	text-align: center;
	margin: auto;
}

.uczestnicy {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	gap: 50px;
	justify-content: center;
}

.uczestnicy input {
	text-align: center;
}

.uczestnicy input[type="text"],
.uczestnicy input[type="email"] {
	width: 300px;
}

hr.solid {
	border-top: 2px solid #222222;
	width: 25vw;
}

.error {
	border-radius: 15px;
	border: 2px solid #c71a1a;
}

.captcha {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.uczniowie {
	margin-top: 70px;
}

.uczniowie h1 {
	margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
	.main {
		min-height: 180vh;
	}

	@media screen and (max-height: 900px) {
		.main {
			min-height: 200vh;
		}
	}
}

@media screen and (max-width: 1350px) {
	.uczestnicy {
		gap: 0;
	}

	.background h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 1050px) {
	.uczestnicy {
		display: grid;
		grid-template-columns: repeat(2, 350px);
		gap: 20px;
	}

	.uczestnicy div {
		display: flex;
		flex-direction: column;
	}

	@media screen and (max-height: 900px) {
		.main {
			min-height: 250vh;
		}
	}
}

@media screen and (max-width: 900px) {
	.main {
		min-height: 400vh;
	}

	.uczestnicy {
		display: grid;
		grid-template-columns: 90%;
		row-gap: 20px;
	}

	.uczestnik {
		justify-content: center;
		margin: auto;
	}

	.uczestnicy input[type="text"],
	.uczestnicy input[type="email"] {
		width: 400px;
	}

	.inputs {
		grid-template-columns: 90%;
		justify-content: center;
	}

	.teacherData {
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(2, auto);
	}

	.part {
		border-bottom: 1px solid rgb(16, 49, 48);
		padding-bottom: 10px;
		width: 100%;
	}

	.inputs .input {
		justify-content: center;
		margin: auto;
		text-align: center;
	}
}

@media screen and (max-width: 450px) {
	@media screen and (max-height: 750px) {
		.main {
			min-height: 400vh;
		}
	}
}
